.about-service {
    position: relative;
    background-color: var(--background-color);
    border-radius: 0px 0px 100px 100px;
    padding: 120px 0;
}

.cross {
    position: relative;
    padding-bottom: 120px;
    margin-top: -66px;
}

.about-company {
    padding: 0 120px;
}

.how-it-works {
    padding: 120px 0;
}

.calculator {
    padding: 120px;
    padding-bottom: 0;
}

.what-selling {
    padding: 120px;
}

.why-this-company {
    padding: 0px 120px 120px 120px;
}

.reviews {
    padding: 0px 120px 120px 120px;
}